.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(100, 116, 139, 0.1);
}

.contact__title {
  font-size: var(--size-xl);
  line-height: 1;
  letter-spacing: -0.05rem;
}

.contact__description {
  font-size: var(--size-sm);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 45ch;
}

.contact__btn {
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
  .contact__description {
    max-width: 70ch;
  }
}

/* md */
@media (min-width: 768px) {
  .contact__title {
    font-size: var(--size-2xl);
  }
  .contact__description {
    font-size: var(--size-sm);
    max-width: 70ch;
  }

  .contact__btn {
    font-size: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .contact__description {
    font-size: var(--size-base);
  }

  .contact__btn {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact__title {
    font-size: var(--size-3xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
