.pricing {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pricing__box-container {
  flex-direction: column;
  gap: 2rem;
}

.pricing__box {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  height: 25rem;
}

.pricing__price {
  font-size: var(--size-2xl);
}

.pricing__type {
  font-size: var(--size-lg);
}

.pricing__description {
  font-size: var(--size-sm);
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 37ch;
}

.pricing__list {
  text-align: left;
  font-size: var(--size-sm);
}

.pricing__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing__btn {
  font-size: var(--size-sm);
  font-weight: 700;
  width: 100%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
}

/* Animation */
.pricing__box:nth-child(2) {
  transition-delay: 200ms;
}

.pricing__box:nth-child(3) {
  transition-delay: 400ms;
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .pricing {
    margin-top: 5rem;
  }

  .pricing__box-container {
    flex-direction: row;
  }

  .pricing__description {
    min-height: 6rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .pricing__title {
    font-size: var(--size-4xl);
  }

  .pricing__description {
    font-size: var(--size-base);
  }

  .pricing__price {
    font-size: var(--size-3xl);
  }

  .pricing__type {
    font-size: var(--size-xl);
  }

  .pricing__list {
    font-size: var(--size-base);
  }

  .pricing__description {
    min-height: 0;
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
